body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;

    font-size: 15px;
    line-height: 1.6;
    color: #333;
    background-color: #333;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}


h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

/*Container*/
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #050561;
}

.container_menu {
    width: 25%;
    float: left;
    background-color: #333;
    text-align: center;
}

.container_content {
    width: 75%;
    float: left;
    background-color: #333;
}

/*Header*/
.header_logo {
    font-size: 50px;
    color: #696969;
    text-align: center;
}

.menu {
    color: #fff;
}

.content {
    color: #fff;
}


/*button*/
.btn {
    position: relative;
    padding: 15px 35px;
    margin: 15px;
    background: #022732;
    color: #fff;
    text-decoration: none;
    letter-spacing: 1px;
    overflow: hidden;
    transition: 0.5s;
    animation: anim 4s linear infinite;
    display: block;
}

.btn:hover {
    background: #fff;
    color: #000
}

.btn:before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    transition: 0.5s;

    background: linear-gradient(90deg, transparent, #fff, transparent);
}

.btn:hover:before {
    left: 100%;
}

@keyframes anim {
    0%{border: 1,3 solid #272727;}
    10%{border: 1,2 solid #fff;}
    20%{border: 1,2 solid #fff9c0;}
    100%{border: 1,3 solid #000; box-shadow: 2px 2px 15px #fff9c0;}

}


/*Border*/
.border_menu {
    margin: 20px;
    border: 4px solid #696969;
    border-style: none solid solid none;
    border-radius: 30px 0px 30px 0px;
}
